.card-title1{
    text-align: center;
    color: white;
    background-color: rgb(29, 199, 57);
    padding: 2em;
    box-shadow: 10px 10px 10px red;
}
.card{
    text-align: center;
    background: linear-gradient(to right,rgb(240, 235, 235),rgb(90, 87, 87))
    
}
body{
    background-color: aqua;
   text-size-adjust: 50px;
   text-shadow: 10px 10px 10px;

}
div{
    margin:auto auto;
}
h5{
    color: rgb(130, 9, 243);
}